@model List<Auction.Model.Auction>
@{
    ViewBag.Title = "Index";
}



<div class="row">
    <h2>Auctions</h2>
    @foreach (var a in Model)
    {
        <div class="col-md-4 bordered">
            <h2>@a.Name</h2>
            <img src="@a.Product.ImageUrl" class="img" />
            <p>
                @Html.ActionLink("Details", "Details", new { a.Id },
                                    new { @class="btn btn-default btnm" })

                @if (!a.Approved)
                {
                    @Html.ActionLink("Approve", "Approve", new {a.Id},
                        new {@class = "btn btn-primary btnm"})
                }
                else
                {
                    @Html.ActionLink("Decline", "Decline", new { a.Id },
                        new { @class = "btn btn-danger btnm" })
                }
            </p>
        </div>
    }
</div>